{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ],
  "printWidth": 100,
  "quoteProps": "preserve",
  "singleQuote": true,
  "trailingComma": "all"
}