:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tiptap editor styles */
.custom-link {
  color: #3182ce;
  text-decoration: underline;
  cursor: pointer;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.ProseMirror li {
  margin-bottom: 0.5em;
}

.ProseMirror:focus {
  outline: none;
}

/* Text formatting styles */
.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror em {
  font-style: italic;
}

.ProseMirror u {
  text-decoration: underline;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}
